{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="container">

    <div class="jumbotron mt-3">
        <h1 class="display-3">Bienvenue sur PolyTrotters</h1>
        <p class="lead">Bienvenue sur le premier réseau social des voyages.</p>
        <hr class="my-4">
        <p>Vous aimez les voyages, vous voulez partager vos voyages et suivre les voyages de vos amis. C'est ici
            que ça se passe.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Suivez nous</a>
        </p>
        <hr>
        <div class="container">
            <div class="row">
                {% for poste in postes %}

                {% include "poste/_poste.html.twig" %}
                {% endfor %}
            </div>
        </div>
    </div>

</div>
{% endblock %}